<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Invoices</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Cena Całkowita</th>
            <th scope="col">Klient</th>
            <th scope="col">Data</th>
<!--            <th scope="col">Name</th>-->
<!--            <th scope="col">Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${allOrders}">
            <td th:text="${order.getFinalPrice()}"></td>
            <td th:text="${order.getClientName()}"></td>
            <td th:text="${order.getDate()}"></td>
<!--            <td>-->
<!--                <a th:href="@{/delete(id=${invoice.id})}" class="btn btn-danger">DELETE</a>-->
<!--                <a th:href="@{/edit-form(id=${invoice.id})}" class="btn btn-primary">EDIT</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>

    <h2>Add New Invoice</h2>
    <form th:action="@{/save}" method="post">
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" id="price">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" class="form-control" name="date" id="date">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-qACXZqZlgGQ9BxWZJH3tmf9NqGZ6yqsuPc8Ewrv9YQso4u73F2VRF0lGIddPrdVF" crossorigin="anonymous"></script>
</body>
</html>
